<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbx.campusconnect.mapper.CommentAuditMapper">
    <!-- sql -->
    <select id="getCommentAudit" resultType="com.hbx.campusconnect.pojo.CommentAuditRecord">
        select
        ca.*,
        c.likes,
        u.username,
        u.user_avatar,
        a.username as adminName,
        a.user_avatar as adminAvatar
        from comment_audit ca
        left join comments c on ca.comment_id = c.id
        left join users u on c.user_id = u.id
        left join users a on ca.admin_id = a.id
        <where>
            <if test="adminName != null and adminName != ''">
                AND a.username LIKE CONCAT('%', #{adminName}, '%')
            </if>
            <if test="content != null and content != ''">
                AND ca.comment_content LIKE CONCAT('%', #{content}, '%')
            </if>
        </where>
        ORDER BY ca.created_at
        <choose>
            <when test="order == 'asc' or order == 'ASC'">
                ASC
            </when>
            <otherwise>
                DESC
            </otherwise>
        </choose>
    </select>

</mapper>